*{
    margin: 0px;
}
body{
    background-color: azure;
    text-align: center;
}
.pageTop{
    width: 100%;
    height: 50px;
    background-color: lightgray;
}
.pageTop-ab{
    position: absolute;
    margin-top: auto;
    left: 20%;
    width: 20%;
    height: 50px;
    padding-top: 7px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #000000;
}
#welcome{
    position: absolute;
    width: 400px;
    left: 70%;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}
#name{
    color: cadetblue;
}
.pageItems{
    background-color: floralwhite;
    width: 200px;
    height: 800px;
    float: left;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 120px;
    height: 800px;
    position: absolute;
    left: 60px;
    margin-top: 3%;
}
li{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    font-size: 20px;
}
a:link,a:visited{
    text-decoration: none;
    display: block;
    background-color: burlywood;
    color: aliceblue;
    text-align: center;
}
a:active,a:hover{
    background-color: burlywood;
}
#pageData {
    width: 40%;
    height: 30%;
    margin: 0 0;

}
#dataTables-example thead th {
    background-color: honeydew;
    color: beige;
    border-bottom-width: 0;
    color: black;
    font-size: 20px;
    padding: 10px;
    width: 80px;
    height: 80px;
}

/* Column Style */
#dataTables-example td {
    color: #000;
    height: 80px;
}
/* Heading and Column Style */
#dataTables-example tr, #dataTables-example td,#dataTables-example th {
    border-width: 2px;
    border-style: ridge;
    border-color: antiquewhite;
    margin: 0px;
    color: black;
}

/* Padding and font style */
#dataTables-example td, #dataTables-example th {
    margin: 0px;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
}

